*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    height: 50px;
    padding: 0 15px;
}
.logo{
    font-size: 40px;
    color: rgb(14, 32, 50);
}
ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    font-size: 23px;
    margin: 0 25px;
    cursor: pointer;
}
li:hover{
    background-color: rgb(247, 244, 244);
    border-radius: 14px;
    padding: 5px;
}
